.separator {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.navbar {
  display: flex;
  width: 300px;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
  display: block;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: rgb(56, 56, 56);
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* margin: 20px; */
  border-radius: 10px;
  background-color: rgb(219, 218, 218);
}

.home-wrapper {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
}

.navigation-page {
  padding: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(27, 27, 27);
  border-left: 1px solid rgb(206, 206, 206);
}

.transaction-div {
  margin-bottom: 20px;
  font-size: 18px;
}

.table-content {
  overflow-x: auto;
  max-width: 1100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: 500;
  text-align: left;
  padding: 8px;
}

td {
  padding: 10px;
  text-align: left;
  padding: 8px;
  max-width: 200px;
  word-wrap: break-word;
}

tr {
  /* border: 1px solid #dddddd; */
  text-align: left;
  font-weight: 300;
  padding: 12px;
  border-bottom: 1px solid rgb(133, 133, 133);
}

tr:last-child {
  border: none;
}

.wallet {
  background-color: white;
  display: flex;
}

.org-req-wrapper {
  display: flex;
  flex-direction: column;
}

.org-req-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.org-dash-button-a {
  background-color: rgb(48, 189, 48);
}

.org-dash-button-r {
  background-color: rgb(206, 67, 67);
}

.org-dash-button {
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.loading-transaction {
  display: flex;
  justify-content: center;
}